
// ------------------------------------------------------------------------------------------------
// SITE SETTINGS
// ------------------------------------------------------------------------------------------------ 

// ------------------------------------------
// TYPOGRAPHY
// ------------------------------------------

$main-font:'Karla',Arial, Helvetica, sans-serif;

$title-font:'Karla',Arial, Helvetica, sans-serif;

$secondary-title:'Lora','MS Sans Serif', Geneva, sans-serif;

$alternative-font:'Courgette','Comic Sans MS', cursive;

// ------------------------------------------
// COLORS
// ------------------------------------------ 

$body-color:#4C4C4C;

$primary-color:#1aada3;

$heading-color:#1B1919;

$alternative-color:#fbbc34; //rgb(25, 102, 96)

// ------------------------------------------
// Slides space
// ------------------------------------------ 

$slides_space: 20px;

// ------------------------------------------
// COLOR-SCHEME DARK
// ------------------------------------------

$dark-bg-color: #111111; //dropdown, side-cart, owl-nav-bg color;

$dark-darker-bg-color: rgba(0,0,0,0.3);

$dark-text-color: rgba(255,255,255,0.8);

$dark-link-color: white;

$dark-link-hover-color: rgba(255,255,255,0.8);

$dark-border-color: rgba(255,255,255,0.1);









